<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:plugin:Blocks</key>
					<dict>
						<key>CreationDate</key>
						<date>2015-09-03T02:10:36Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>CFC6CC3B-EADF-4A98-886C-917243C91ADB</string>
						<key>PageDigests</key>
						<dict>
							<key>blank.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								VjmOdr5jVa1Z
								mbJiIIoXyQ==
								</data>
								<key>Size</key>
								<integer>49</integer>
							</dict>
							<key>fixbox.js</key>
							<dict>
								<key>Digest</key>
								<data>
								TOkgYoumVS04
								TXxOibFyZw==
								</data>
								<key>Size</key>
								<integer>1521</integer>
							</dict>
							<key>iepngfix.htc</key>
							<dict>
								<key>Digest</key>
								<data>
								mxUbJool6c3J
								nIkt5Qizxw==
								</data>
								<key>Size</key>
								<integer>867</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:Blocks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/Blocks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:blocksbox</key>
					<dict>
						<key>CreationDate</key>
						<date>2015-09-03T02:10:36Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>CFC6CC3B-EADF-4A98-886C-917243C91ADB</string>
						<key>PageDigests</key>
						<dict>
							<key>colourtag-theme-default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								KKZA7tKtPyQP
								cb0pHv2+eg==
								</data>
								<key>Size</key>
								<integer>403</integer>
							</dict>
							<key>css/background/bottomcenter.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6kQwhocNSr48
								5XMcn/x17g==
								</data>
								<key>Size</key>
								<integer>49</integer>
							</dict>
							<key>css/background/bottomleft.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Nk86Mk47s9R0
								mwV6sgnKpQ==
								</data>
								<key>Size</key>
								<integer>47</integer>
							</dict>
							<key>css/background/bottomright.css</key>
							<dict>
								<key>Digest</key>
								<data>
								C2P5SnWacgxf
								V1UFVcoEew==
								</data>
								<key>Size</key>
								<integer>48</integer>
							</dict>
							<key>css/background/center.css</key>
							<dict>
								<key>Digest</key>
								<data>
								v6gFRNKLICQt
								0qMcOOCZtQ==
								</data>
								<key>Size</key>
								<integer>42</integer>
							</dict>
							<key>css/background/centerleft.css</key>
							<dict>
								<key>Digest</key>
								<data>
								HCZHhJxxjXOt
								AIw72ToVCg==
								</data>
								<key>Size</key>
								<integer>47</integer>
							</dict>
							<key>css/background/centerright.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3env1t5GQG+b
								mVJAtMUzPQ==
								</data>
								<key>Size</key>
								<integer>48</integer>
							</dict>
							<key>css/background/norepeat.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LosfMu54Ms7y
								c03+AUIItA==
								</data>
								<key>Size</key>
								<integer>43</integer>
							</dict>
							<key>css/background/repeat.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uRZ1m5xAVOOl
								oFT5qNA/Bw==
								</data>
								<key>Size</key>
								<integer>40</integer>
							</dict>
							<key>css/background/repeatx.css</key>
							<dict>
								<key>Digest</key>
								<data>
								j7iNLHT49v3O
								EsKeqCye0w==
								</data>
								<key>Size</key>
								<integer>42</integer>
							</dict>
							<key>css/background/repeaty.css</key>
							<dict>
								<key>Digest</key>
								<data>
								R/wlgHvqMTOl
								sFvc/8gRsQ==
								</data>
								<key>Size</key>
								<integer>42</integer>
							</dict>
							<key>css/background/topcenter.css</key>
							<dict>
								<key>Digest</key>
								<data>
								RbQZfqrATkwV
								O8rqCxOQBw==
								</data>
								<key>Size</key>
								<integer>46</integer>
							</dict>
							<key>css/background/topleft.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tMkos7enKkmH
								7amqh2abAQ==
								</data>
								<key>Size</key>
								<integer>44</integer>
							</dict>
							<key>css/background/topright.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Jy/Saom4Dyd4
								mQngD7yq/A==
								</data>
								<key>Size</key>
								<integer>45</integer>
							</dict>
							<key>css/backgroundimg/background.css</key>
							<dict>
								<key>Digest</key>
								<data>
								EYmYiStMnVrb
								bxf33yCHWA==
								</data>
								<key>Size</key>
								<integer>59</integer>
							</dict>
							<key>css/backgroundimg/background2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5L9GKSksrbtz
								CsRzkFGWMg==
								</data>
								<key>Size</key>
								<integer>60</integer>
							</dict>
							<key>css/backgroundimg/background3.css</key>
							<dict>
								<key>Digest</key>
								<data>
								smwWHJVoMaFi
								80exZIw+Xg==
								</data>
								<key>Size</key>
								<integer>60</integer>
							</dict>
							<key>css/backgroundimg/background4.css</key>
							<dict>
								<key>Digest</key>
								<data>
								74zho7kxkr2s
								9/bTLfxJTw==
								</data>
								<key>Size</key>
								<integer>60</integer>
							</dict>
							<key>css/backgroundimg/background5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								BH1MDIf8PYl8
								XDH+gYsxNg==
								</data>
								<key>Size</key>
								<integer>60</integer>
							</dict>
							<key>css/backgroundimg/none.css</key>
							<dict>
								<key>Digest</key>
								<data>
								aFxtQBaovtcV
								extATNUkzg==
								</data>
								<key>Size</key>
								<integer>37</integer>
							</dict>
							<key>css/filesharing/seperator.css</key>
							<dict>
								<key>Digest</key>
								<data>
								qa59LX3Ifuql
								FMhl0R3cuA==
								</data>
								<key>Size</key>
								<integer>45</integer>
							</dict>
							<key>css/font/11px.css</key>
							<dict>
								<key>Digest</key>
								<data>
								eeGpX20VVugD
								jeXFPEcwoA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>css/font/13px.css</key>
							<dict>
								<key>Digest</key>
								<data>
								fJjyrNVPrjNr
								de0GEGEvIA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>css/font/15px.css</key>
							<dict>
								<key>Digest</key>
								<data>
								QanQXBv5OoCG
								Ejr+/gaxSQ==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>css/font/lucidagrande.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3utMHgs6eCBY
								UXk/2mDnHQ==
								</data>
								<key>Size</key>
								<integer>276</integer>
							</dict>
							<key>css/font/nolinkbackground.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wgS/oxnAG275
								Y6CYWhKuhQ==
								</data>
								<key>Size</key>
								<integer>59</integer>
							</dict>
							<key>css/font/sansserif.css</key>
							<dict>
								<key>Digest</key>
								<data>
								UkoWzLqnw2gY
								btnlua9Eag==
								</data>
								<key>Size</key>
								<integer>276</integer>
							</dict>
							<key>css/font/verdana.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6tRKuukThJWJ
								EiWl4ZBcew==
								</data>
								<key>Size</key>
								<integer>277</integer>
							</dict>
							<key>css/form/bold.css</key>
							<dict>
								<key>Digest</key>
								<data>
								CjCFlV05r1gn
								TjCPbcb8nA==
								</data>
								<key>Size</key>
								<integer>37</integer>
							</dict>
							<key>css/header/hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Pfy4JL9Q/v6W
								WTwmuvAZJQ==
								</data>
								<key>Size</key>
								<integer>27</integer>
							</dict>
							<key>css/header/none.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ha3KUNdUc6CZ
								z6dvJawpcg==
								</data>
								<key>Size</key>
								<integer>30</integer>
							</dict>
							<key>css/photo/nob.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LUyKw+YCJRB2
								PwfL9Tt9wQ==
								</data>
								<key>Size</key>
								<integer>76</integer>
							</dict>
							<key>css/spacing/fifty.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ViLSgEIKUFE9
								ClfFkBQrFA==
								</data>
								<key>Size</key>
								<integer>31</integer>
							</dict>
							<key>css/spacing/hundred.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LbZW0RByv+3/
								cNAsVNPG/A==
								</data>
								<key>Size</key>
								<integer>32</integer>
							</dict>
							<key>css/spacing/hundredfifty.css</key>
							<dict>
								<key>Digest</key>
								<data>
								U147jpay3GlS
								QT/2N+xlgw==
								</data>
								<key>Size</key>
								<integer>32</integer>
							</dict>
							<key>css/spacing/twentyfive.css</key>
							<dict>
								<key>Digest</key>
								<data>
								6iL5sk5uCGI7
								mT6jkyKeGA==
								</data>
								<key>Size</key>
								<integer>31</integer>
							</dict>
							<key>css/spacing/twohundred.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LQtARnEua4NA
								bWC2nCIE0A==
								</data>
								<key>Size</key>
								<integer>32</integer>
							</dict>
							<key>css/spacing/twohundredandfifty.css</key>
							<dict>
								<key>Digest</key>
								<data>
								dkuYxsUoPq0o
								lx/YBFvb7A==
								</data>
								<key>Size</key>
								<integer>32</integer>
							</dict>
							<key>css/spacing/zero.css</key>
							<dict>
								<key>Digest</key>
								<data>
								vknxYOeSC4Q+
								UELFx0d1DA==
								</data>
								<key>Size</key>
								<integer>30</integer>
							</dict>
							<key>images/background.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ajYKQgJj45FE
								3ctUWUSQpA==
								</data>
								<key>Size</key>
								<integer>52677</integer>
							</dict>
							<key>images/background2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								R/KxxNH3z3ww
								IT/4fuMKZg==
								</data>
								<key>Size</key>
								<integer>170005</integer>
							</dict>
							<key>images/background3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								P82YHjDUdRu9
								qXWyHASA5A==
								</data>
								<key>Size</key>
								<integer>169009</integer>
							</dict>
							<key>images/background4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								L9UexVxqyC+0
								IYsjwP9FeA==
								</data>
								<key>Size</key>
								<integer>169039</integer>
							</dict>
							<key>images/background5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								E2/17vD/SkgB
								QPaDMd2v6A==
								</data>
								<key>Size</key>
								<integer>169796</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>png/blank.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								VjmOdr5jVa1Z
								mbJiIIoXyQ==
								</data>
								<key>Size</key>
								<integer>49</integer>
							</dict>
							<key>png/pngbehavior.htc</key>
							<dict>
								<key>Digest</key>
								<data>
								mJQ2Vl45EOal
								gIlTtCq+yw==
								</data>
								<key>Size</key>
								<integer>2029</integer>
							</dict>
							<key>style.css</key>
							<dict>
								<key>Digest</key>
								<data>
								arN0SeF25Hk6
								LKz6wFutPQ==
								</data>
								<key>Size</key>
								<integer>7199</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:blocksbox</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/blocksbox</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUIVVZUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAQCQoR
				HSAnLDA0ODxASEtPU1UkbnVsbNILDA0QWk5TLm9iamVj
				dHNWJGNsYXNzog4PgAKAC4AP1hITFAwVFhcYGRobHFhO
				b2RlIE1hcFlSZXNvdXJjZXNYUGF0aCBNYXBeSWRlbnRp
				ZmllciBNYXBYUGFnZSBNYXCAB4ADgAmACoAFgAjSCwwe
				H6CABNIhIiMkWCRjbGFzc2VzWiRjbGFzc25hbWWjJCUm
				XE5TTXV0YWJsZVNldFVOU1NldFhOU09iamVjdNMLKAwp
				KitXTlMua2V5c6CggAbSISItLqMuLyZfEBNOU011dGFi
				bGVEaWN0aW9uYXJ5XE5TRGljdGlvbmFyedMLKAwxMiug
				oIAG0wsoDDU2K6CggAbTCygMOToroKCABtIhIj0/oj4m
				XxASUldSZXNvdXJjZURhdGFiYXNlXxASUldSZXNvdXJj
				ZURhdGFiYXNl1EEMQkNERUZGWENoaWxkcmVuXxASUmVw
				cmVzZW50ZWQgT2JqZWN0VlBhcmVudIAMgA6AAIAA0gsM
				SUqggA3SISJMTaNNTiZeTlNNdXRhYmxlQXJyYXlXTlNB
				cnJhedIhIlBSolEmXxAQUldTb3VyY2VMaXN0Tm9kZV8Q
				EFJXU291cmNlTGlzdE5vZGXSISJUTqJOJhIAAYagXxAP
				TlNLZXllZEFyY2hpdmVyAAgAEQAWAB8AKAAyADUAOgA8
				AE8AVQBaAGUAbABvAHEAcwB1AIIAiwCVAJ4ArQC2ALgA
				ugC8AL4AwADCAMcAyADKAM8A2ADjAOcA9AD6AQMBCgES
				ARMBFAEWARsBHwE1AUIBSQFKAUsBTQFUAVUBVgFYAV8B
				YAFhAWMBaAFrAYABlQGeAacBvAHDAcUBxwHJAcsB0AHR
				AdMB2AHcAesB8wH4AfsCDgIhAiYCKQIuAAAAAAAAAgEA
				AAAAAAAAVwAAAAAAAAAAAAAAAAAAAkA=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://users.stat.umn.edu/~yiyang/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2015 Yi Yang</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string></string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string>/home/yiyang/public_html</string>
							<key>privateKeyPath</key>
							<string></string>
							<key>publicKeyPath</key>
							<string></string>
							<key>server</key>
							<string>ssh.stat.umn.edu</string>
							<key>sftp</key>
							<true/>
							<key>user</key>
							<string>yiyang</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Changing the world, one site at a time…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>BlocksBox</string>
					<key>TitleText</key>
					<string>My Website</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>CFC6CC3B-EADF-4A98-886C-917243C91ADB</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
